In [3]:
import pandas as pd
import numpy as np
import joblib 
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction import DictVectorizer

In [31]:
df = pd.read_csv("Names_dataset.csv")

In [39]:
df['gender'] = df['gender'].replace({'f': 0, 'm': 1})

In [40]:
df

              name  gender
0           alfiya       0
1           ardwin       1
2          henryka       0
3           preeti       0
4           jamaro       1
...            ...     ...
125226    loreatha       0
125227       deepa       0
125228    kinshasa       0
125229  charlianne       0
125230      ashish       1

[125231 rows x 2 columns]

In [41]:
Xfeatures = df['name']

In [43]:
cv = CountVectorizer()
X = cv.fit_transform(Xfeatures.values.astype('U'))

In [44]:
X.shape

(125231, 101785)

In [45]:
gender_vectorizer = open("gender_vectorizer.pkl","wb")
joblib.dump(cv,gender_vectorizer)

In [46]:
gender_vectorizer.close()

In [47]:
cv.get_feature_names_out()

array(['aaban', 'aabha', 'aabid', ..., 'सर', 'सलम', 'हन'], dtype=object)

In [49]:
y = df['gender']
y

0         0
1         1
2         0
3         0
4         1
         ..
125226    0
125227    0
125228    0
125229    0
125230    1
Name: gender, Length: 125231, dtype: int64

In [50]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=12)

In [51]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()
clf.fit(X_train,y_train)
clf.score(X_test,y_test)

0.7112628258873318

In [56]:
sample = ["Nancy"]
vect = cv.transform(sample).toarray()
clf.predict(vect)

array([0], dtype=int64)

In [58]:
def gender_predictor(name):
    test_name = [name]
    vector = cv.transform(test_name).toarray()
    if clf.predict(vector)==0:
        return "Female"
    else:
        return "Male"

In [69]:
gender_predictor("Ayush")

'Male'